# Godot 4+ specific ignores
.godot/
/android/

# Sensible exports
export.cfg
export_credentials.cfg
*.user

# Mono/C#
.mono/
data_*/
mono_crash.*.json

# Build exports
*.zip
*.pck
*.apk
*.exe
*.app
*.rar

# Big art files
*.psd
*.xcf
*.blend